/* ------------------------------------------ */
/* 勤怠登録画面（出勤前・出勤後・休憩中・退勤後）*/
/* -------------------------------------------*/
.attendance-container {
    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
}

.status-label .status {
    display: inline-block;
    background-color: #ddd;
    color: gray;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.date-time .date {
    font-size: 22px;
    margin-bottom: 10px;
}

.date-time .time {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 12px 24px;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}


/* ------------------------- */
/* 勤怠一覧画面：月切り替え */
/* ------------------------- */
.month-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.month-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 6px;
}

.month-btn:hover {
    background-color: #e0e0e0;
}

.current-month {
    font-weight: bold;
    font-size: 1.1rem;
}


/* ------------------------- */
/* 勤怠詳細画面  */
/* ------------------------- */

.attendance-detail-table th {
    width: 120px;
}

.action-btn-area {
    text-align: center;
    margin-top: 30px;
}